html,
body {
  margin:0;
  padding:0;
  height:100%;
}
#wrapper {
  min-height:100%;
  position:relative;
}
#header {
  padding:10px;
  background:#5ee;
}
#content {
  padding:10px;
  padding-bottom:80px;   /* Height of the footer element */
}
#chat {
  width:100%;
  height:150px;
  position:absolute;
  bottom:0;
  left:0;
  background:#ee5;
}
#chatText {
  height:100px;
  margin:0.25em;
  overflow-y: scroll;
}
#chatText div {
  padding:0.25em;
  margin:0.25em;
  border: 1px solid black;
}
#chatText .server {
  background:#F00;
}
#chatText .self {
  background:#0F0;
}
#chatControls {
  width:100%;
  height:30px;
  padding:0.25em;
  bottom:0;
  left:0;
  position:absolute;
}
#chatControls input {
  vertical-align: middle;
  display: inline-block;
}
