doctype
html
    head
        title= "Real time web chat"
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
        link(rel='stylesheet', href='/stylesheets/chat.css')
    body
        #header
            #user
                label Username
                input#usernameField
                input#usernameSend(type='button', value='Save')
        #content
            h2 GAME
        #chat
          #chatText
          #chatControls
            input#field
            input#send(type='button', value='Send')
