doctype
html
    head
        title= "Real time web chat"
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
        script(src='http://momentjs.com/downloads/moment-with-locales.js')
        link(rel='stylesheet', href='/stylesheets/chat.css')
    body
        #header
        #content
            h2 GAME
        #chat
          #chatText
          #chatControls
            input#field
            input#send(type='button', value='Send')
